.invisible{
    display: none;
}

.principal{
    width: 100%;
    background-color: #EDF2F7;
    padding: 25px;
    border-left: 1px solid #000;
    color: #050505;
}

body{
    margin: 0;
    font-family: Inter, sans-serif;
}

a{text-decoration: none; color: gray}

iframe{
    border: none;
}

table {
    border-spacing: 0;
    width: 100%;
    border-collapse: collapse;
    font-size: 20px;
}

.tableContainer{
    border-radius: 10px;
    overflow: hidden;
}

.tableHeader{
    text-align: center;
}

.tableButtons{
    text-align: center;
}

td{
    color: gray;
    padding: 12px 50px;
}

tr{
    height: 60px;
}

th{
    padding: 0 50px;
    text-align: left;
}


.edit-button{
    display: inline-block;
    padding: 10px 10px;
    background-color: #169d16;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}

.trash-button {
    display: inline-block;
    padding: 10px 10px;
    background-color: #dc3545;
    text-decoration: none;
    border: none;
    border-radius: 5px;
}