/*
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}
 */

.registerContainer{
    display: grid;
    place-content: center;
}

/* Estilo para el formulario */
form {
    box-shadow: 0 0 20px 16px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    height: 85vh;
    width: 60vh;
    font-size: 20px;
    display: grid;
    place-content: center;
    gap: 20px;
}

.saleForm{
    width: 100%;
    place-content: none;
}

/* Estilo para los campos de entrada */
form input[type="text"],
form input[type="email"],
form input[type="number"],
form select,
form textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

/* Estilo para el botón de envío */
form input[type="submit"] {
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
}

label > input, textarea{
    font-size: 20px;
}

.categoryForm > label > input, .categoryForm > label > textarea{
    background-color: #1D006F14;
    font-family: Inter, sans-serif;
}

.employeeForm > label > input, .employeeForm > label > textarea{
    background-color: #6F1F0014;
}

.supplierForm > label > input, .supplierForm > label > textarea{
    background-color: #6F000014;
}

.productForm > label > input, .productForm > label > textarea, .productForm > label > select{
    background-color: #57006F14;
}

label{
    display: contents;
}

textarea{
    resize: none;
}

select{
    font-size: 16px;
}

/*-------------------------------*/






.productFrame{
    width: 100%;
    height: 80vh;
    border: none;
}